THE PURPOSE OF THIS NOTEBOOK IS TO WORK WITH CSV ASA DATAFRAME.

In [45]:
import pandas as pd
df1 = pd.read_csv("database.csv")
df1.head()

  name  surname               email
0  Neo  sebanze  neo25722@gmail.com

In [46]:
name = "Karabo"
surname = "Sebanyoni"
email= "sebanyoni@gmail.com"
df2 = {"name":[name], "surname":[surname],"email":[email]}
df2 = pd.DataFrame.from_dict(df2)
df2.head()

     name    surname                email
0  Karabo  Sebanyoni  sebanyoni@gmail.com

In [47]:
frames = [df1,df2]

In [48]:
result = pd.concat(frames)

In [49]:
result

     name    surname                email
0     Neo    sebanze   neo25722@gmail.com
0  Karabo  Sebanyoni  sebanyoni@gmail.com

In [61]:
result.to_csv('database.csv', index=False,)